6月19日，国家互联网金融安全技术专家委员会发布了“全国互联网金融阳光计划”第二周资产透明度巡查报告。 
  
报告称，专委会阳光计划第二周资产透明度巡查发现，共有10家平台产品存在资产不透明的情况。这10家平台分别为绿地广财、德众金融、鑫合汇、向日葵金融、厦门贷、恒富在线、联众在线、新富金融、小猪罐子、小油菜P2P。 
  
保监会就信用保险监管征求意见  网贷信保或迎门槛 
  
6月19日，保监会公布了《信用保证保险业务监管暂行办法（征求意见稿）》，拟在6月25之前向社会公开征求意见。
